name: Check Charger Availability

on:
  schedule:
    - cron: "*/1 * * * *"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run script
        env:
            TOMTOM_API_KEY: ${{ secrets.TOMTOM_API_KEY }}
            CHARGER_ID: ${{ secrets.CHARGER_ID }}
            TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
            TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: node checkCharger.js

